<?xml version="1.0"?>
<config>
    <modules>
        <Repiit_Click>
            <version>0.1.1</version>
        </Repiit_Click>
    </modules>
    <global>
        <models>
            <repiit_click>
                <class>Repiit_Click_Model</class>
                <resourceModel>repiit_click_resource</resourceModel>
            </repiit_click>
            <repiit_click_resource>
                <class>Repiit_Click_Model_Resource</class>
                <entities>
                    <repiitcredits>
                        <table>repiitcredits</table>
                    </repiitcredits>
                    <transaction>
                        <table>repiitcredits_transaction</table>
                    </transaction>
                </entities>
            </repiit_click_resource>
        </models>
        <helpers>
            <Repiit_Click>
                <class>Repiit_Click_Helper</class>
            </Repiit_Click>
        </helpers>
        <resources>
            <repiit_click_setup>
                <setup>
                    <module>Repiit_Click</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repiit_click_setup>
        </resources>
        <blocks>
            <repiit_click>
                <class>Repiit_Click_Block</class>
            </repiit_click>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <repiit_click>
                    <file>repiit/click.xml</file>
                </repiit_click>
            </updates>
        </layout>
        <translate>
            <modules>
                <Repiit_Click>
                    <files>
                        <default>Repiit_Click.csv</default>
                    </files>
                </Repiit_Click>
            </modules>
        </translate>
        <events>
            <customer_save_after>
                <observers>
                    <repiitcredits_adminhtml_observers>
                        <type>singleton</type>
                        <class>repiit_click/adminhtml_observer</class>
                        <method>customerSaveAfter</method>
                    </repiitcredits_adminhtml_observers>
                </observers>
            </customer_save_after>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <repiit_click>
                <use>standard</use>
                <args>
                    <module>Repiit_Click</module>
                    <frontName>repiitclick</frontName>
                </args>
            </repiit_click>
        </routers>
        <layout>
            <updates>
                <repiitclick>
                    <file>repiit/click.xml</file>
                </repiitclick>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <repiit_click_creditexpire>
                <schedule><cron_expr>0 1 * * *</cron_expr></schedule>
                <run><model>repiit_click/cron::checkExpiredCredits</model></run>
            </repiit_click_creditexpire>
        </jobs>
    </crontab>
</config>