<?xml version="1.0"?>
<config>
    <modules>
        <Repiit_Subscription>
            <version>0.1.3</version>
        </Repiit_Subscription>
    </modules>
    <global>
        <models>
            <repiit_subscription>
                <class>Repiit_Subscription_Model</class>
            </repiit_subscription>
        </models>
        <helpers>
            <Repiit_Subscription>
                <class>Repiit_Subscription_Helper</class>
            </Repiit_Subscription>
        </helpers>
        <resources>
            <repiit_subscription_setup>
                <setup>
                    <module>Repiit_Subscription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repiit_subscription_setup>
        </resources>
        <blocks>
            <repiit_subscription>
                <class>Repiit_Subscription_Block</class>
            </repiit_subscription>
        </blocks>
        <events>
            <sales_order_save_after>
                <observers>
                    <repiit_subscription>
                        <type>singleton</type>
                        <class>repiit_subscription/observer</class>
                        <method>afterOrderSaved</method>
                    </repiit_subscription>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <repiit_subscription>
                <use>standard</use>
                <args>
                    <module>Repiit_Subscription</module>
                    <frontName>repiitsubscription</frontName>
                </args>
            </repiit_subscription>
        </routers>
        <layout>
            <updates>
                <repiitsubscription>
                    <file>repiit/subscription.xml</file>
                </repiitsubscription>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <repiitsubscription>
                                            <title>Repiit Subscription</title>
                                        </repiitsubscription>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <catalog_product_save_after>
                <observers>
                    <repiit_subscription_productsave>
                        <type>singleton</type>
                        <class>repiit_subscription/observer</class>
                        <method>productSaveAfter</method>
                    </repiit_subscription_productsave>
                </observers>
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <repiitsubscription>
                    <file>repiit/subscription.xml</file>
                </repiitsubscription>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <repiitsubscription>
            <api>
                <js_selector_config>ul.configurable-swatch-list li a</js_selector_config>
                <url>https://repiitportalmanager.azurewebsites.net/API/</url>
                <curl_host>repiitportalmanager.azurewebsites.net</curl_host>
                <dataset>DAT</dataset>
                <redirect_url>http://commitdk.com/Repiit/#customerLogin</redirect_url>
            </api>
        </repiitsubscription>
    </default>
</config>